@using NearX.Models
@inject IDialogService _dialogService;
@inject IHttpClientFactory _clientFactory;
@inject StateContainer _stateContainer
@implements IDisposable
<MudDialog>
    <TitleContent>
        <MudIcon Icon="@Icons.Material.Filled.LocalCafe"></MudIcon>
    </TitleContent>
    <DialogContent>
        <MudTable Items="@cafe.TagsList">
            <RowTemplate>
                <MudTd>@context.Name</MudTd>
                @if(@context.IsLink)
                {
                    <MudTd><MudLink Href="@context.Value" Target="_blank">@context.Value</MudLink></MudTd>
                }
                else
                {
                    <MudTd>@context.Value</MudTd>
                }
            </RowTemplate>
        </MudTable>

    </DialogContent>
    <DialogActions>
        @{
            if (reviewCount > 0)
            {
                <MudFab
                    Color="Color.Primary"
                    Icon="@Icons.TwoTone.List"
                    Size="Size.Small"
                    IconSize="Size.Small"
                    Label= "@reviewLabel"
                    OnClick="ListReviewDialog"></MudFab>
            }
            else
            {
                <span>No reviews yet.</span>
            }
        }
        
        <MudFab
            Color="Color.Primary"
            Icon="@Icons.TwoTone.RateReview"
            Size="Size.Small"
            IconSize="Size.Small"
            Label="Add Review"
            OnClick="ShowReviewDialog"></MudFab>
        <MudFab
            Color="Color.Secondary"
            Icon="@Icons.TwoTone.Close"
            Size="Size.Small"
            IconSize="Size.Small"
            Label="Close"
            OnClick="Close"></MudFab>
    </DialogActions>
</MudDialog>

@code {


    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public Element cafe { get; set; } = new Element();

    public int reviewCount = 0;

    private string reviewLabel = string.Empty;
    HttpClient client;
    NearXShared.Models.Review[] reviews { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _stateContainer.OnChange += StateHasChanged;
        client = _clientFactory.CreateClient("NearXServer");
        reviewCount = await client.GetFromJsonAsync<int>($"api/review/count/{cafe.id}");
        reviewLabel = $"{reviewCount} Reviews";
    }
    /// <summary>
    /// Runs after each time the component is rendered
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }
    void Close() => MudDialog.Close(DialogResult.Ok(true));

    public void ListReviewDialog(MouseEventArgs args)
    {
        Console.WriteLine($"Cafe id is {cafe.id}");
        var options = new DialogOptions() 
        { 
            CloseButton = true, 
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        };
        var parameters = new DialogParameters()
        {
            ["cafe"] = cafe
        };

        var result = _dialogService.Show<ListReviewsComponent>("Reviews", parameters, options);
        

    }

    public void ShowReviewDialog(MouseEventArgs args)
    {
        Console.WriteLine($"Cafe id is {cafe.id}");
        var options = new DialogOptions() 
        { 
            CloseButton = true, 
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        };
        var parameters = new DialogParameters()
        {
            ["cafe"] = cafe
        };

        var result = _dialogService.Show<ReviewComponent>("Cafe", parameters, options);
        

    }

    public void Dispose()
    {
        _stateContainer.OnChange -= StateHasChanged;
    }
}


